//Patches for things discord didnt use vars for or vars that clash with catppuccin's palette

[class*="button_"] {
  &[class*="buttonColor_"] {
    //VC controls
    --interactive-active: #{$crust} !important;
  }
  > [class*="banner_"] {
    //Dm profile buttons
    color: #{$text} !important;
  }
}
// VC controls, Image controls
div[class^="bottomControls_"],
div[class^="wrapper_"][class*="modalCarouselWrapper_"],
div[class^="layerContainer_"] > [class^="layer_"] [class^="wrapper_"],
div[class*="embedVideo_"][class*="embedMedia_"],
div[class*="tooltipBlack_"] {
  --white-500: #{$text} !important;
}
div[class^="imageWrapper_"] {
  --white: #{$text};
  --white-500: #{$text};
}
//Chat call icon
[class^="iconContainer_"] > [class^="icon_"][class*="iconSize_"] {
  mask-image: url("https://discord.com/assets/617505e363f7f7cf9492.svg") !important;
  mask-size: 1rem !important;
  background-color: #a6e3a1 !important;
  background-image: none !important;
}

//Switches
[class^="control_"] > [class^="container_"] {
  background-color: var(--primary-400) !important;
  [fill*="rgba"] {
    fill: var(--primary-400) !important;
  }

  &[class*="checked_"] {
    background-color: var(--green-360) !important;
    [fill*="rgba"] {
      fill: var(--green-360) !important;
    }
  }
}

$colors: (
  //online indicators (not var based GUHHH)
  $yellow: #f0b232,
  $red: #f23f43,
  $green: #23a55a,
  $surface2: #80848e
);
@each $var, $color in $colors {
  svg [fill="#{$color}"],
  svg[fill="#{$color}"] {
    fill: #{$var};
  }
}

//forum gallery shadow
div[class^="textContentFooter_"] {
  background: linear-gradient(
    to top,
    $base,
    rgba($base, 0.97) 36px,
    rgba($base, 0.4)
  ) !important;
  &[class*="noTags_"] {
    background: linear-gradient(to top, $base, transparent) !important;
  }
}
//forum tag
div[class*="tagPill_"] {
  background-color: var(--background-secondary-alt) !important;
}
div[class^="pinIcon_"] path[fill="white"] {
  fill: #{$base};
}
span[class*="botTagOP_"] {
  color: var(--white);
}

//settings dropdown selection menus
div[class^="popout_"] {
  background-color: #{$mantle};
}
div[class^="select_"][class*="lookFilled_"] {
  background-color: #{$base};
}
